@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    font-size: 2rem;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    padding: 0.8rem;

}