@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    font-size: 3rem;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    padding: 0.8rem;
    font-weight: bold;
    font-style: italic;


}


.App-logo {
    height: 40vmin;
    pointer-events: none;

    animation: App-logo-spin infinite 20s linear;
    margin: 0 auto;





}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.inactive {
    font-weight: normal;
}



.board-row:after {
    clear: both;
    content: "";
    display: table;
}



.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 43px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 5rem;
    width: 5rem;
}

.square:focus {
    outline: none;
}



.winningSquares {
    color: #000;
    background: rgb(205, 152, 7);
}



.win {
    text-align: center;

}



.game {
    display: flex;
    flex-direction: row;
}


#copyRight{
    font-size: 2rem;
}

#country_back{
    background-image: url("../../../../../assets/images/broke_flag.jpg") ;
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.block * {
    position: relative;
}
.block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.3);
    border: 15px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    text-shadow: 0 1px 2px #000;
    color: #fff;
    background: inherit;
}

.block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(10px);
}
