@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    font-size: 3rem;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    padding: 0.8rem;
    font-weight: bold;
    font-style: italic;


}


.App-logo {
    height: 40vmin;
    pointer-events: none;

    animation: App-logo-spin infinite 20s linear;
    margin: 0 auto;





}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.inactive {
    font-weight: normal;
}



.board-row:after {
    clear: both;
    content: "";
    display: table;
}



.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 43px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 5rem;
    width: 5rem;
}

.square:focus {
    outline: none;
}



.winningSquares {
    color: #000;
    background: rgb(205, 152, 7);
}



.win {
    text-align: center;

}



.game {
    display: flex;
    flex-direction: row;
}


#copyRight{
    font-size: 2rem;
}