@tailwind base;
@tailwind components;
@tailwind utilities;


#navBar{
    font-size: 2rem;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    padding: 0.8rem;

}

.inactive {
    font-weight: normal;
}



.board-row:after {
    clear: both;
    content: "";
    display: table;
}



.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 5rem;
    width: 5rem;
}

.square:focus {
    outline: none;
}



.winningSquares {
    color: #000;
    background: rgb(142, 252, 99);
}



.win {
    text-align: center;

}



.game {
    display: flex;
    flex-direction: row;
}


#copyRight{
    font-size: 2rem;
}